body {
    font-family: Arial, Helvetica, sans-serif;
}

.hotels-header h2 {
    padding: 20px;
    text-align: center;
}

.hotels-body {
    margin: auto;
    max-width: 90%;
}

.hotels-item {
    padding: 16px;
    border-radius:3px;
    border:1px solid #9c9c9c;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.item-name {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-description {
    font-size: 20px;
    font-weight: 300;
}

.item-phone {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
}

.hotel-name-container {
    max-width: 300px;
}

.hotel-description-container {
    padding-top: 10px;
    max-width: 300px;
}

.hotel-telephone-container {
    max-width: 250px;
}

.item-stars {
    max-width: 100px;
}